html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

nav .nav-container {
  background-color: #91ADFF;
  display: flex;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #3C5AB2;
}

.title-subtext {
  display: none;
  color: black;
  font-weight: 700;
  margin-top: auto;
  padding-left: 5px;
}

form {
  margin: auto 0 auto auto;
}

input {
  /* border: 1px solid black;
  border-radius: 5px; */
  /* outline: none; */
}

nav h1 {
  margin: 0;
  text-align: center;
  padding: 10px 0;
  color: #5d5e60;
  padding-left: 8px;
}

.form-container {
  /* display: flex; */
  /* justify-content: flex-end; */
}

fieldset {
  border: none;
}

label,
select,
input {
  padding-left: 5px;
}

#search-btn {
  cursor: pointer;
  background-color: #FFDB7E;
  font-weight: 700;
  border: 1px solid #B28C2A;
  border-radius: 2px;
}

.search-legend {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

main {
  background-color: #EDEFF2;
  height: 100%;
}

#error-message {
  margin: 0;
}

.load-screen {
  display: flex;
  height: 100%;
}

.load-in-text {
  font-size: 38px;
  margin: auto;
  border: 1px solid #B28C2A;
  background-color: rgba(255, 219, 126, .3);
  padding: 50px;
  text-align: center;
}

.searchResults {
  height: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
  /* flex-direction: column; */
  /* align-items: flex-start; */
}

.doctor-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  /* align-items: space-around; */
  /* justify-content: center; */
}

.doctor-container:first-child {
  padding-top: 15px;
}

.doctor-container:last-child {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.doctor-info,
.contact-info {
  list-style: none;
  padding-left: 0;
}

.doctor-info {
  margin: auto;
  background-color: #FEFEFE;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
}

/* .contact-info {
  padding-left: 0;
} */

.capitalize {
  text-transform: capitalize;
}
