html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #EDEFF2
}

nav {
  background-color: #91ADFF;
  border-bottom: 1px solid #3C5AB2;
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.title-subtext {
  display: none;
  color: black;
  font-weight: 700;
  margin-top: auto;
  padding-left: 5px;
}

form {
  margin-top: 10px;
  text-align: center;
}

nav h1 {
  margin: 0;
  text-align: center;
  padding: 10px 0;
  color: #5D5E60;
  padding-left: 8px;
}

fieldset {
  border: none;
}

label,
select,
input {
  padding-left: 5px;
}

input {
  border: 1px solid #B28C2A;
}

.search-btn {
  cursor: pointer;
  background-color: #FFDB7E;
  font-weight: 700;
  border: 1px solid #B28C2A;
  border-radius: 2px;
}

.search-legend {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.hamburger-menu-icon {
  display: none;
}

#error-message {
  margin-top: 20px;
  text-align: center;
  font-size: 38px;
}

.load-screen {
  display: flex;
  height: auto;
}

.load-in-text {
  font-size: 38px;
  margin: auto;
  border: 1px solid #B28C2A;
  background-color: rgba(255, 219, 126, .3);
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  transform: translateY(100%);
  transition: all 2s ease;
}

.hidden {
  opacity: 0;
  transform: translateY(400%);
}

.searchResults {
  height: 100%;
}

.doctor-container {
  margin-bottom: 15px;
}

.doctor-container:first-child {
  padding-top: 15px;
}

.doctor-container:last-child {
  padding-bottom: 15px;
  margin-bottom: 0;
}

.doctor-info,
.contact-info {
  list-style: none;
  padding-left: 0;
}

.doctor-info {
  margin: auto;
  background-color: #FEFEFE;
  border: 1px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50%;
  padding-left: 5px;
  overflow: hidden;
}

.doctor-img {
  padding: 15px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.capitalize {
  text-transform: capitalize;
}

.wrapper {
  float: left;
  width: 33.33%;
}

.doctor-card-text {
  padding-bottom: 5px;
}

.doctor-card-text:first-child,
.office-location-title {
  padding-top: 15px;
}

.office-location-title {
  margin: 0;
}

.doctor-name {
  color: #3C5AB2;
  font-weight: 700;
  font-size: 20px;
}

.doctor-title {
  color: grey;
}

.accepts-patients {
  font-weight: 600;
}

@media screen and (max-width: 1500px) {

  .search-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .search-form-responsive {
    display: flex;
    flex-direction: column;
  }

  label {
    padding-bottom: 5px;
  }

  select,
  .search-distance-input {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1240px) {
  .doctor-name,
  .office-location-title {
    font-size: 18px;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .doctor-name {
    padding-top: 5px;
  }

  .doctor-info {
    width: 75%;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  .load-in-text {
    font-size: 26px;
  }

  .doctor-info {
    text-align: center;
  }
}
